In [1]:
# Zach Quinn
# File: DSC_540_Act_11.ipynb
# 7 August 2020
# File description: Creates SQL Lite queries to complete book excercises
# File function: Uses Python's SQL Lite library to complete excercises from textbook.

# Task 1: (Connect to the supplied petsDB, and write a function to check if the connection is done)

In [4]:
# Import SQL Lite library 
import sqlite3

In [5]:
# Connect to Pets data base. 
conn = sqlite3.connect("petsdb")

In [6]:
# Create function to check connection to data base. 
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [8]:
print(is_opened(conn))

True

In [9]:
# Create function to close connection. 
conn.close()

In [10]:
# Check to see if connection is open. 
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

# Task 2: (What are the different age groups in the persons database?)

In [11]:
# Create connection to data base. 
conn = sqlite3.connect("petsdb")

In [12]:
# Create cursor object. 
c = conn.cursor()

In [13]:
# Query to determine how many people are a certain age. 
for ppl, age in c.execute("SELECT COUNT(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

# Task 3: Which group has maximum number of people?

In [16]:
# Query the highest number of people from the indicated age group.

for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

# Task 4: How many people do not have a full name (Last name is blank or null)?

In [35]:
# Find how many last names are not listed in data base. 
res = c.execute("SELECT count(*) FROM persons where last_name IS null")
for row in res:
    print(row)
    print("{} do not have a full name listed.".format(row[0]))

(60,)
60 do not have a full name listed.

# Task 5: How many people have more than one pet?

In [26]:
# Determine how many individuals have more than one pet. 

res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) from pets GROUP BY owner_id HAVING count (owner_id) > 1)")
for row in res:
    print(row)
    print("{} people have more than one pet.".format(row[0]))

(43,)
43 people have more than one pet.

# Task 6: How many pets have received treatments?

In [34]:
# Determine how many pets have received treatments. 

res = c.execute("SELECT count(*) FROM pets WHERE treatment_done = 1")
for row in res:
    print(row)
    print("{} pets have received treatments.".format(row[0]))

(36,)
36 pets have received treatments.

# Task 7: How many pets have received treatments that we know the type of?

In [33]:
# Create query to determine how many pets have received treatments and those that we know the type of. 

res = c.execute("SELECT count(*) FROM pets WHERE treatment_done = 1 AND pet_type IS NOT null")
for row in res:
    print(row)
    print("{} pets have received treatments that we know the type of.".format(row[0]))

(16,)
16 pets have received treatments that we know the type of.

# Task 8: How many pets are from the city called "East Port?"

In [37]:
# Create a query to determine how many pets are from East Port. 
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = 'east port'")
for row in res:
    print(row)
    print("There are {} pets from East Port.".format(row[0]))

(49,)
There are 49 pets from East Port.

# Task 9: How many pets are from the city called "East Port" and who received treatment?

In [38]:
# Determine how many pets are from East Port and those who received treatment. 

res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)
    print("There are {} pets from East Port who received treatment.".format(row[0]))

(11,)
There are 11 pets from East Port who received treatment.